.card {
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90px;
    height: 150px;
    padding-bottom: 30px;
}
.card-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
    border-style: solid;
    border-color: orange;
}
p {
    font-size: 50px;
}